<div class="Content" guiType="PageContent">
    This library requires enabled JavaScript in the browser. See link below for more information:<br/>
    <a href="http://www.enable-javascript.com/" target="_blank">How to enable JavaScript?</a>
</div>
<div class="Note">version: <? @var project.version ?>, build: <? @var build.time ?></div>