// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

$fontFamily: Helvetica, Arial;
$fontSize: 16px;

$contentBackground: #D5EBF3;
$headlineColor: #353A3F;
$textColor: #000000;
$descriptionColor: #6A747D;
$linkColor: #28718A;
