// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2019 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "sourceFilesMap";

body {
  color: $textColor;
  font-family: $fontFamily;
  font-size: 100%;
  margin: auto;
  min-height: 768px;
  padding: 0;
  width: 1024px;
}

h1,
h2 {
  color: $headlineColor;
}

h3 {
  color: $descriptionColor;
  font-weight: normal;
  padding-left: 20px;
}

a {
  color: $linkColor;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

[guiType="PageContent"] {
  background-color: $contentBackground;
  font-size: $fontSize;
  overflow: auto;
  padding: 10px;
}

.Note {
  border-left: 1px solid $descriptionColor;
  color: $descriptionColor;
  font-size: 14px;
  font-style: italic;
  margin-top: 20px;
  padding-left: 15px;
}

.Logo {
  height: 65px;
  margin: auto;
  position: relative;
  top: 50px;
  width: 250px;

  .WUI {
    background: $COM_WUI_FRAMEWORK_COMMONS_WUI_LOGO no-repeat;
    float: left;
    height: 65px;
    width: 250px;
  }
}

.GoToFirstFailing,
.GoToNextFailing,
.GoToLastFailing,
.GoToSpecific {
  // sass-lint:disable-block no-color-literals
  border-bottom: 2px solid #EF2F34;
  color: $textColor;
  cursor: pointer;
  font-family: $fontFamily;
  font-weight: bold;
  left: 0;
  letter-spacing: 1px;
  padding: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 25%;
}

.GoToFirstFailing {
  // sass-lint:disable-block no-color-literals
  background-color: #FAD284;

  &:hover {
    background-color: #FADF8F;
  }
}

.GoToNextFailing {
  // sass-lint:disable-block no-color-literals
  background-color: #FF9C52;
  left: 25%;

  &:hover {
    background-color: #FFB165;
  }
}

.GoToLastFailing {
  // sass-lint:disable-block no-color-literals
  background-color: #F96044;
  left: 50%;

  &:hover {
    background-color: #F97B5F;
  }
}

.GoToSpecific {
  // sass-lint:disable-block no-color-literals
  background-color: #388287;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-size: 16px;
  height: 30px;
  left: 75%;
  outline: 0;
  padding: 5px 5px 5px 15px;
  text-align-last: center;

  &:hover {
    background-color: #439599;
  }
}
