// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

@function getImageSliceUrl($path, $top, $left) {
  $x: 0;
  $y: 0;
  @if type_of($top) == number {
    @if $top != 0 {
      @if unitless($top) {
        $x: -#{$top}px;
      } @else {
        $x: -$top;
      }
    }
  } @else {
    $x: $top;
  }
  @if type_of($left) == number {
    @if $left != 0 {
      @if unitless($left) {
        $y: -#{$left}px;
      } @else {
        $y: -$left;
      }
    }
  } @else {
    $y: $left;
  }
  @return url($path) $y $x;
}

$COM_WUI_FRAMEWORK_COMMONS_GRAPHICS_NAMESPACE: "graphics/Com/Wui/Framework/Commons";
$COM_WUI_FRAMEWORK_COMMONS_WUI_LOGO: getImageSliceUrl("#{$COM_WUI_FRAMEWORK_COMMONS_GRAPHICS_NAMESPACE}/WUILogo.png", 0, 0);
$COM_WUI_FRAMEWORK_COMMONS_ICON_PATH: "graphics/icon.ico";
